.EntitySettingsEditor {
  background-color: var(--editor-background-color);
  h2 {
    background: var(--interface-background-color);
  }

  // TODO: DRY - this formatting is used in several places
  code {
    background-color: var(--stack-vis-background-color);
    border-radius: 2px;
    margin: 0 2px;
    padding: 0 2px;
    border: 1px solid var(--interface-background-color);
  }

  .bp3-input {
    background: var(--stack-vis-background-color);
  }
  .bp3-label {
    width: 90px;
    flex-shrink: 0;
  }
  .bp3-form-group .bp3-form-helper-text {
    color: #fff6;
    line-height: 18px;
  }
}
