.ScriptEditor {
  background: var(--editor-background-color);

  h2 {
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0 0 8px;
    padding: 8px 14px;
    background: var(--interface-background-color);
    height: 14px;
    box-sizing: initial;
  }

  .p2sh-tag {
    font-size: 0.7em;
    text-transform: uppercase;
    background-color: #2e7105;
    border-radius: 3px;
    display: inline-block;
    padding: 0.1em 0.5em;
    margin-left: 1em;
  }
}
