.ProjectExplorer {
  overflow-y: auto;

  .script-section,
  .entities-section {
    &:hover .add-button {
      visibility: visible;
    }
  }

  .add-button {
    visibility: hidden;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    margin-left: 6px;
    margin-bottom: 2px;
  }

  .title-area {
    font-size: 1em;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid var(--editor-background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .title {
      flex-grow: 1;
    }

    .settings-button {
      color: #fff9;
      line-height: 0;
      margin-left: 5px;
    }
  }

  h3 {
    font-size: 16px;
    color: #868f98;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 1em;
  }

  ul {
    padding: 0;
    margin-top: 8px;
  }

  & > ul {
    margin: 0 0 2em 0;
    ul {
      margin-top: 0.7em;
    }
  }

  .title-area,
  li {
    border-left: 2px solid transparent;

    &.active {
      border-left-color: #2a5b8b;
    }
  }

  li {
    list-style: none;
    padding: 0.5em 1em;

    .icon {
      color: #fff4;
      vertical-align: middle;
      margin-right: 6px;
    }

    &.activatable {
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.interface-tooltip {
  $tooltip-background: var(--editor-background-color);
  .bp3-popover-content {
    background: $tooltip-background !important;
    color: #fff !important;
  }
  .bp3-popover-arrow-fill,
  .bp3-popover-arrow-border {
    fill: $tooltip-background !important;
    fill-opacity: 1;
  }
}
